<ul>
    <div *ngIf="authenticated">
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/account">Manage Account</a>
        </li>
        <li>
            <a>Finance</a>
        </li>
        <li>
            <a>Food</a>
        </li>
        <li>
            <a routerLink="/maps">Maps</a>
        </li>
        <li>
            <a routerLink="/search">Search</a>
        </li>
        <li>
            <a>Scheduling</a>
        </li>
        <li>
            <a routerLink="/weather">Weather</a>
        </li>
        <li>
            <a routerLink="/youtube">Youtube</a>
        </li>
        <li>
            <a (click)="logout()">Logout</a>
        </li>
    </div>
    <div *ngIf="!authenticated">
        <li>
            <a routerLink="/login">Login</a>
        </li>
    </div>

</ul>